{% load static %}
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-91e3"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">
      <a href="https://www.instagram.com/tattoo.arte.will/">
        <img src="{% static 'images/instagram.png' %}" alt="">
      </a>
      <a href="https://api.whatsapp.com/send?phone=5524992206814&text=Ol%C3%A1%20queria%20fazer%20um%20or%C3%A7amento">
        <img src="{% static 'images/whatsapp.png' %}" alt="">
      </a>
      
    </p>
  </div></footer>