{% load static %}
<header class="u-header u-sticky u-sticky-92fe" id="sec-5216" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <a href="{% url 'home:home' %}" class="u-image u-logo u-image-1" data-image-width="150" data-image-height="100">
      <img src="{% static 'images/logo.png' %}" class="u-logo-image u-logo-image-1" data-image-width="150">
    </a>
    {% include 'home/partials/_nav.html' %}
  </div></header> 