{% load static %}
<section class="u-clearfix u-palette-4-base u-section-6" id="carousel_2f65">
  <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="X"></div>
  <div class="u-palette-3-dark-3 u-shape u-shape-rectangle u-shape-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500"></div>
  <img class="u-image u-image-default u-image-1" data-image-width="800" data-image-height="675" src="static/css/images/fundo-mao-2.jpg" data-animation-name="customAnimationIn" data-animation-duration="1500">
  <div class="u-align-left u-container-style u-group u-palette-3-dark-3 u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
    <div class="u-container-layout u-valign-top u-container-layout-1">
      <h2 class="u-text u-text-1">Consulta gratis</h2>
      <p class="u-text u-text-2"><b></b>
        As tatuagens não precisam exatamente ter um significado. Elas são apenas um pouco da nossa personalidade.<br>
        <br>
        <b>Tire suas duvidas ou faça seu orçamento.</b>
      </p>
      <a href="https://api.whatsapp.com/send?phone=5524992206814&text=Ol%C3%A1%20queria%20fazer%20um%20or%C3%A7amento" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-black u-text-hover-black u-btn-2"> 
        <img src="{% static 'images/whatsapp.png' %}" alt="">
      </a>
    </div>
  </div>
</section>