<section class="u-align-center u-clearfix u-section-2" id="sec-77dc">
  <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
    <h2 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Galeria</h2>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        {% for categoria in tatoos %}
          <div  class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-image u-list-item u-repeater-item 
          u-shading u-image-1" src="static/image/instagram.png" data-image-width="880" data-image-height="912" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
              <a href="{% url 'home:galeria' categoria.categoria.id %}" class="u-active-palette-4-base u-align-center u-btn u-button-style u-hover-palette-4-base u-text-active-white 
              u-text-hover-white u-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">{{ categoria.categoria }}</a>
            </div>
          </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>