<section class="u-align-center u-clearfix u-image u-shading u-section-3" id="sec-01c9" data-image-width="1620" data-image-height="1080">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Tatoos apartir de:</h2>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        {% for categoria in tatoos %}
          <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h4 class="u-text u-text-default u-text-palette-3-base u-text-2">{{ categoria.categoria.preco }}</h4>
              <h4 class="u-text u-text-default u-text-3">{{ categoria.categoria}}</h4>
            </div>
          </div>
        {% endfor%}
      </div>
    </div>
  </div>
</section>